<%- include('partials/header.ejs') %>
<div style="height: 85vh;">
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <h1 class="mb-3">Contact Us</h1>
            
                    <form action="/login" method="post">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label for="your-name" class="form-label">Your Name</label>
                                <input type="text" class="form-control" id="your-name" name="name" required="">
                            </div>
                            <div class="col-md-6">
                                <label for="your-surname" class="form-label">Your Surname</label>
                                <input type="text" class="form-control" id="your-surname" name="surname">
                            </div>
                            <div class="col-md-6">
                                <label for="your-email" class="form-label">Your Email</label>
                                <input type="email" class="form-control" id="your-email" name="email" required="">
                            </div>
                            <div class="col-md-6">
                                <label for="your-subject" class="form-label">Your Subject</label>
                                <input type="text" class="form-control" id="your-subject" name="subject">
                            </div>
                            <div class="col-12">
                                <label for="your-message" class="form-label">Your Message</label>
                                <textarea class="form-control" id="your-message" name="message" rows="5" required=""></textarea>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-primary w-100 fw-bold">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <% if (locals.message) { %>
                        <h1 style="margin: 80px 0;"><img src="icons/submit-successfully.png" height="60px" width="60px" alt="submitted"> <%= message %> </h1>
                   <% } %>
                    
        </div>
    </div>
</div>


</div> 
<%- include('partials/footer.ejs') %>